---
import CardWrapper from "@/components/CardWrapper.astro";
import IconAndText from "@/components/IconAndText.astro";
import Icon from "@/components/Icon.astro";

import { parseDatePublished } from "@/lib/parseDatePublished";
import { firstValueArrayStringJoin } from "@/lib/firstValueArrayJoin";
import type { Person } from "@/models";

// import type { Person } from "@/models";

interface Props {
  href: string;
  title: string;
  authors?: Person[];
  publishedDate: Date;
  image: string;
  class?: string;
}

const {
  title,
  href,
  authors,
  publishedDate,
  image,
  class: className,
} = Astro.props;

const published = parseDatePublished(publishedDate);
---

<CardWrapper className={className} image={image} title={title} href={href}>
  <IconAndText slot="metainfo">
    <Icon name="calendar" aria-label="published" />
    <time datetime={published}>{published}</time>
  </IconAndText>
  {
    authors && authors.length > 0 && (
      <IconAndText slot="metainfo">
        <Icon name="user" aria-label="authors" />
        <span>
          {authors &&
            authors
              .map((author) =>
                firstValueArrayStringJoin(
                  author.attributes.first_name,
                  author.attributes.last_name
                )
              )
              .join(", ")}
        </span>
      </IconAndText>
    )
  }
</CardWrapper>
