---
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";
import Icon from "@/components/Icon.astro";

import Logo from "public/images/i2tec-logo.png";
import { APP_ROUTES, SOCIAL_ROUTES } from "@/lib/constants/routing";
---

<header class="main-header">
  <div class="main-header-header">
    <div
      class="md:justify-initial container flex h-full items-center justify-between"
    >
      <a class="relative mr-4 flex h-full w-28" href="/">
        <Image
          class="object-contain object-center"
          src={Logo}
          alt="Logo del centro de investigación, innovación y tecnología"
        />
      </a>

      <Button id="burger-button" class="md:hidden" aria-label="Menu" icon>
        <Icon slot="icon" name="menu-2" aria-label="Menu" />
      </Button>

      <nav id="header-navigator" class="main-header-navigator">
        <div>
          <ul class="flex flex-col text-sm md:flex-row">
            {
              APP_ROUTES.map((route) => (
                <li class="menu-item">
                  <a
                    class="max-md:hover:bg-primary/10 block border-b-4 border-transparent px-4 py-2 font-bold transition-colors md:hover:border-primary md:hover:text-primary"
                    href={route.path}
                  >
                    {route.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="max-md:flex-col flex gap-x-4 text-sm md:hidden">
          <div class="text-center text-sm font-bold">
            Nuestras redes sociales
          </div>
          <ul class="flex justify-between px-4 py-8">
            {
              SOCIAL_ROUTES.map((route) => (
                <li>
                  <a
                    href={route.path}
                    class="text-xl"
                    rel="noreferrer"
                    target="_blank"
                  >
                    <Icon name={route.iconName} />
                    <span class="sr-only">{route.label}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<script src="./scripts/header.ts"></script>
