---
import ImageSkeleton from "@/components/ImageSkeleton.astro"
import CardProject from "@/components/CardProject.astro"

import type { Project } from "@/models"
import { arrayIterable } from "@/lib/arrayIterable"
import { EffectsClass } from "@/lib/classNames/effects"
import { BACKEND_IMAGE } from "@/lib/constants"

import { getImageFormats } from "@/lib/getImageFormats"

interface Props {
  projects: Project[];
}

const { projects } = Astro.props
---

{
  projects.length > 0 ? (
    <div class="slider-scale px-6 overflow-x-auto scrollbar-invisible"
    >
      <div class="slider-wrapper gap-4 flex flex-nowrap">
        {projects.map((project: Project) => {
          const imageSrc = getImageFormats(project.attributes.image, "small")
          return (
            <div class="slider-slide inline-flex min-w-72">
              <CardProject
                id={`${project.id}`}
                href={`/projects/${project.attributes.slug}`}
                image={`${BACKEND_IMAGE}${imageSrc}`}
                authors={project.attributes.authors?.data}
                title={project.attributes.title}
                publishedDate={project.attributes.publishedAt}
              />
            </div>
          )
        })}
      </div>
    </div>
  ) : (
    <div class="relative overflow-visible">
      <div class="flex flex-nowrap gap-4">
        {arrayIterable(7).map(() => (
          <ImageSkeleton
            class:list={`aspect-video ${EffectsClass["fadeTopBottom"]}`}
          />
        ))}
      </div>
      <div class="absolute w-full h-full top-0 left-0 flex justify-center items-center">
        <div class="text-2xl">No hay contenido</div>
      </div>
    </div>
  )
}
