---
type Props = {
  name: string;
  image?: string;
  summary: string;
};

const { name, image, summary } = Astro.props;
---

<div
  class="isolate mx-auto grid w-full max-w-screen-xl gap-8 bg-white/25 p-12 shadow backdrop-blur lg:grid-cols-[0.5fr_1fr]"
>
  <div class="flex lg:flex-col lg:justify-normal justify-center">
    <picture
      class="h-96 relative block ml-12 mt-12 aspect-[3/4] lg:h-min before:absolute before:bottom-12 before:right-12 before:z-[-1] before:h-full before:w-full before:border-8 before:border-solid before:border-primary before:content-['']"
    >
      {
        image ? (
          <img
            data-ref="TeacherDetail-image"
            loading="lazy"
            class="w-full h-full object-cover object-center"
            src={image}
            alt={name}
          />
        ) : (
          <img
            data-ref="TeacherDetail-image"
            loading="lazy"
            class="w-full h-full object-cover object-center"
            src="/images/user-placeholder.png"
            alt={name}
          />
        )
      }
    </picture>
  </div>
  <div class="flex flex-col gap-4">
    <div data-ref="TeacherDetail-name" class="text-3xl lg:text-4xl font-bold">
      {name}
    </div>
    <div data-ref="TeacherDetail-summary" class="leading-relaxed text-lg">
      {summary}
    </div>
  </div>
</div>
